* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin: 30px 0;
  text-align: center;
}
main {
  width: 100%;
  height: 700px;
  padding: 0 70px;
}
main ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  gap: 30px;
  justify-content: space-between;
}
main ul li {
  list-style-type: none;
  cursor: pointer;
}
main ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main #button {
  margin: 40px 0;
  display: grid;
  place-items: center;
}
main #button button {
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgb(247, 69, 29);
  color: white;
  border: none;
  outline: none;
  transition: all 0.2s;
}
main #button button:hover {
  transform: scale(1.04);
  transform-origin: center center;
  background: rgb(249, 79, 40);
}
